= simple_form_for @continent do |f|
  .form-inline
    .regions
      = f.simple_fields_for :regions do |r|
        = (render 'region_fields', :f => r).html_safe
    .links
      = link_to_add_association('Add Region', f, :regions, :class => "btn btn-default").html_safe
    = f.button :submit, :class => "btn btn-primary"
  
  
  
  