= simple_form_for @continent, html: {class: 'form-horizontal'} do |f|
  = f.input :name
  .regions
    = f.simple_fields_for :regions do |region|
      = render 'region_fields', :f => region
  .links.row
    .col-sm-9.col-sm-offset-3
      = link_to_add_association 'Add Region', f, :regions, :class => "btn btn-default"
  = f.button :submit, :class => "btn btn-primary"
  
  
  
  