.mymessage
  %h1 Listing Continents
  .div
    There are #{@continents.count} continents.
    .div
      - @continents.each do |f|
        #div
          = f.name.capitalize
          = link_to 'Show', f
          = link_to 'Edit', edit_continent_path(f)
          = link_to 'Destroy', f, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Continent', new_continent_path, :class => "btn"
