%h1 Listing continents


%table{class: "table table-striped table-hover"}
  %thead
    %tr
      %th Name


  %tbody
    - @continents.each do |continent|
      %tr
        %td= continent.name
        %td= link_to 'Show', continent
        %td= link_to 'Edit', edit_continent_path(continent)
        %td= link_to 'Destroy', continent, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Continent', new_continent_path, :class => "btn"
